<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
    <a class="navbar-item" href="/">
      Find Links
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/links">
        Links
      </a>
      <a class="navbar-item" href="/social-medias">
        Social Medias
      </a>
      <a class="navbar-item" href="/youtube-channels">
        Youtube channels
      </a>
      <a class="navbar-item" href="/live-tvs">
        Live Tv's
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Add
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/links/add">
            Website
          </a>
          <a class="navbar-item" href="/social-medias/add">
            social medias
          </a>
          <a class="navbar-item">
            Youtube channel
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Live Tv
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary is-rounded">
            <strong>Sign up</strong>
          </a>
          <a class="button is-rounded">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>


<header>

</header>